@import 'wired/slds';

:host {
	font-family: var(--content-font-family);
	position: relative;
	display: flex;
	align-items: center;
	min-height: 100%;
}

.slide-header {
	position: relative;
}

.header-title {
	text-align: center;
	color: var(--flat-white);
	font-weight: 900;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
		0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.slide-content {
	text-align: justify;
}

.flatYellow {
	background-color: var(--flat-yellow);
}

.flatRed {
	background-color: var(--flat-red);
}

.flatBlue {
	background-color: var(--flat-blue);
}

.flatOrange {
	background-color: var(--flat-orange);
}

.flatGreen {
	background-color: var(--flat-green);
}
