@import 'wired/slds';

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.text-justified {
	color: var(--flat-black);

}

.home-text_presentation {
	font-size: 7vw;
}

.home-secondary-box {
	background-color: var(--flat-white);
	color: var(--flat-black);
	flex: 1 0 0;
}


.home-text_subtitle {
	animation-name: fadeIn;
	animation-duration: 2s;
}

.home_top {
	flex: 1 0 0;
}

.container {
	flex: 1 0 0;
	display: flex;
}

.home_bottom {
	flex: 1 0 0;
	display: flex;
	flex-flow: column;
}


.foo {
	flex: 1 0 0;
	color: var(--flat-white);
}

.bar {
	flex: 3 0 0;
	display: flex;
	flex-flow: column;
	text-align: end;
}

.home-main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	color: var(--flat-white);
}