@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.home-text__presentation {
	padding: 5rem;
	text-align: justify;
	font: var(--text-logo);
	animation: var(--animation-fade-in) var(--fade-in-duration);
	height: 95%;
}
