:host {
	font-family: 'Space Mono', monospace;
}

.slideshow {
	scroll-behavior: smooth;
	scrollbar-width: none;
	position: relative;
	padding: 3rem;
	height: 90vh;
}

.disable-scroll {
	overflow-y: hidden;
}


.site-main {
	position: fixed;
	min-width: 100vh;
	min-height: 100vh;
	background-color: var(--flat-yellow);
}