.main-header__logo {
	flex: 2 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
	animation: var(--animation-fade-in) var(--fade-in-duration);
}

.logo__text {
	font: var(--text-logo);
	color: var(--light-headers);
	letter-spacing: 2px;
}

.main-header__gap {
	flex: 10 0 0;
}
