@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.main-header__logo {
	animation: var(--animation-fade-in) var(--fade-in-duration);
}

.logo__text {
	font: var(--text-logo);
	color: var(--light-headers);
	letter-spacing: 2px;
}
