@import 'wired/slds';

main {
	font-family: var(--content-font-family);
	min-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
	inset: 0;

	position: fixed;

	background-color: var(--flat-red);
}

.transition-block {
	position: fixed;
	background-color: var(--flat-blue);
	width: 100vw;
	height: 100vh;
}

.fixed-container {
	position: fixed;
}

@media all and (orientation: landscape) {
	wired-navigation {
		right: 4vh;
	}
}

@media all and (orientation: portrait) {
	wired-navigation {
		right: 4vw;
	}
}

wired-viewport {
	height: 100vh;
}