@import 'wired/slds';

.main {
	height: 100vh;
	max-height: 100vh;
	max-width: 100%;
	overflow: hidden;
	inset: 0;

	position: fixed;
	background-image: url(/images/paper.png);
	background-size: 350px 225px;
}

.transition-block {
	height: 100vh;
	max-height: 100vh;
	max-width: 100%;
	inset: 0;

	position: fixed;
}

wired-sidebar {
	padding: 0.5rem;
	animation: var(--animation-fade-in) 1s;
	position: relative;
	min-height: 100%;
	z-index: 1;
}

wired-navigation {
	position: relative;
	min-height: 100%;
	z-index: 1;
}

wired-viewport {
	position: relative;
	min-height: 100%;
}
