@import 'wired/slds';

main {
	font-family: var(--content-font-family);
	min-height: 100vh;
	max-height: 100vh;
	max-width: 100%;
	overflow: hidden;
	inset: 0;

	padding: 4vh 0 0 4vh;

	position: fixed;

	background-color: var(--flat-red);
}


wired-home {
	min-height: 100vh;
}
