@import 'wired/slds';

wired-mark-list {
	flex: 1 0 0;
	display: flex;
	flex-flow: row nowrap;
}

.main-presentation {
	position: relative;
}

.main-navigation {
	position: relative;
}

.main {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	inset: 0;

	position: fixed;
	background-color: var(--flat-white);
}

.main-title {
	align-items: center;
	height: 5rem;
	padding: 2rem;
	font-family: var(--title-font-family);
	text-align: center;
	color: var(--light-text-content);

	width: 100%;
	min-width: 0;
}

.main-title > div {
	align-items: center;
	justify-content: center;
	min-height: 2rem;
	min-height: 2rem;
	cursor: pointer;
	width: 4rem;
}

.main-title__gap {
	margin: auto;
	min-width: 0;
}

.main-button__context {
	border-radius: 50%;
	max-height: 4rem;
	display: flex;
	align-items: center;
	padding: 0.5rem;
	cursor: pointer;
	box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-container {
	font-family: var(--content-font-family);
	color: var(--main-content-color-light);
	overflow: auto;

	position: relative;
	height: 100%;
	max-height: 100%;

	scrollbar-width: none;
}

.main-content__home {
	scroll-behavior: smooth;
	height: 100%;
	overflow-y: scroll;
}

wired-sidebar {
	padding: .5rem;
	animation: var(--animation-fade-in) 1s;
	position: relative;
	min-height: 100%;
}

.main-container__sidebar {
	margin-right: 1rem;
	animation: var(--animation-fade-in) 1s;
	position: relative;
	display: flex;
	flex-flow: column wrap;
}

.sidebar__top {
	flex: 8 0 0;
}

.sidebar__bottom {
	flex: 2 0 0;
}

::-webkit-scrollbar {
	display: none;
}

.main-container__content {
	scrollbar-width: none;
	position: relative;
	padding: 2rem;
	overflow: scroll;
	height: 90%;
	max-height: 90%;
}

.colective-mention {
	color: var(--main-sidebar-color-pink);
}

.main-container__leftover {
	/* Alignment */
}

.main-header {
	min-height: 5rem;
	position: sticky;
	top: 0;
	z-index: 10;
}

/* 
menu-item {
	flex: 1 0 20%;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--light-headers);
	font-family: var(--title-font-family);

	animation: var(--animation-fade-in) var(--fade-in-duration);
} */

/* p {
	text-justify: inter-word;
	line-height: 2;
	letter-spacing: 1px;
} */

.colective-bold {
	color: var(--light-blue);
}

.container__vertical {
	position: relative;

	display: flex;
	flex-direction: column;

	min-height: 100%;
	height: 100%;
}

wired-section-marks {
	display: flex;
}
